!!!
html
    include inc/header

        body

            include inc/menubar

            div.span3.hero-unit
                h1= title
                p This is the #{title} page

            div.span8
                h1 About idea
                p This is the first paragraph #{test} abc and shows the 'test' variable
                  . and other things yet to be defined

            div.span12.container!= body
                include inc/footer

        include inc/scripts

